.rstep{
	width: 100%;
	height: 3.07rem;
	text-align: center;
	background-color: #303134;
}

.rstep>div{
	display: inline-block;
	width: 31%;
	overflow: hidden;
}

.rstep>div>div{
	width: 100%;
	max-width: 180px;
	margin: 0 auto;
	height: 2.84rem;
	line-height: 3rem;
	font-size: 1.07rem;
	color: #fff;
	border-bottom: 0.3rem solid #303134;
}

.rstep>div.active>div{
	border-bottom: 0.3rem solid #abcf58;
}

.cartlist{
	padding: 20px 0px;
	background-color: #fcfcfc;
}

.emptycart{
	background-color: #fcfcfc;
	padding: 3rem 0 6rem 0;
	display: none;
}

.emptycart p{
	font-size: 1.25rem;
	text-align: center;
}

.citem{
	position: relative;
	margin: 0.38rem 0;
	height: 9.38rem;
	background-color: #fff;
}

.citem .l{
	width: 80%;
}

.citem .checkbox{
	float: left;
	margin-top: 3.15rem;
	margin-left: 2%;
	width: 1.6rem;
	height: 1.6rem;
}

.citem .img{
	position: absolute;
	margin-top: 1rem;
	width: 20%;
}

.citem .img img{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.citem .c{
	margin-top: 0.6rem;
	padding: 0.8rem 0.8rem 0 2.2rem;
}

.citem p{
	padding-left: 32%;
	padding-bottom: 0.4rem;
	min-height: 5rem;
}

.citem p .n{
	font-size: 0.92rem;
	line-height: 1.35rem;
}

.citem p .s{
	color: #727272;
	background-color: #f7f7f7;
	padding: 0.3rem 0.6rem;
	font-size: 0.92rem;
	line-height: 2rem;
}

.citem p .p{
	float: right;
	padding: 0.3rem 0;
	font-size: 1.25rem;
	color: #e36655;
	font-weight: normal;
}

.citem .p{
	text-align: right;
}

.citem .q{
	float: right;
	padding-bottom: 10px;
}

.citem .q span{
	padding-right: 0.5rem;
	font-size: 1.5rem;
}

.citem .q div{
	display: inline-block;
	float: right;
	font-size: 2rem;
	width: 1.92rem;
	height: 1.92rem;
	line-height: 1.6rem;
	text-align: center;
	background-color: #e36655;
	color: #fff;
	z-index: 2;
}

.citem .q input[type=text]{
	display: inline-block;
	float: right;
	width: 33%;
	text-align: center;
	font-size: 1.15rem;
	width: 1.92rem;
	height: 1.92rem;
	line-height: 1.92rem;
	vertical-align: top;
	background-color: #f7f7f7;
}

.citem .btn{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20%;
}

.citem .btn input{
	width: 100%;
	font-size: 1.23rem;
	height: 9.38rem;
	background-color: #e9e9e9;
	color: #e36655;
}

.orderbtn{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 5;
	height: 3.4rem;
}

.orderbtn>div{
	position: relative;
	max-width: 750px;
	margin: 0 auto;
	height: 3.4rem;
	background-color: rgba(0,0,0,0.5);
}

.orderbtn .checkbox{
	position: absolute;
	top: 1rem;
	left: 0.4rem;
	width: 1.6rem;
	height: 1.6rem;
	background-color: #fff;
}

.orderbtn .all{
	position: absolute;
	color: #fff;
	padding-top: 1rem;
	padding-left: 2.3rem;
	font-size: 1.15rem;
	line-height: 1.6rem;
}

.orderbtn p{
	display: inline-block;
	text-align: right;
	width: 60%;
	margin-top: 0.4rem;
	line-height: 1.4rem;
}

.orderbtn p .p{
	font-size: 1.15rem;
	color: #fff;
}

.orderbtn p .p span{
	color: #e36655;
}

.orderbtn p .s{
	font-size: 1rem;
	color: #fff;
}

.orderbtn button{
	vertical-align: top;
	position: absolute;
	right: 0;
	width: 36%;
	height: 3.4rem;
	font-size: 1.23rem;
}












