header{
	text-align: left;
}

header .title a{
	position: relative;
	display: inline-block;
	width: 6rem;
	height: 4.23rem;
	text-align: center;
	line-height: 4.23rem;
	font-size: 1.23rem;
}

header a.active{
	color: #fff;
	background-color: #e36655;
}

.rstep{
	position: absolute;
	width: 100%;
	height: 3.2rem;
	text-align: center;
	background-color: #303134;
}

.rstep>div{
	display: inline-block;
	width: 31%;
}

.rstep>div>div{
	width: 100%;
	max-width: 166px;
	margin: 0 auto;
	height: 2.8rem;
	line-height: 3.07rem;
	font-size: 1.07rem;
	color: #fff;
	border-bottom: 0.4rem solid #303134;
}

.rstep>div.active>div{
	border-bottom: 0.4rem solid #abcf58;
}



.top{
	height:2.307rem;
	line-height:2.307rem;
	background-color: #303134;
	position: relative;
}
.top>h4{
	color:#ffffff;
	font-size: 1.077rem;
	font-weight: normal;
	margin-left: 1.385rem;
}
.top>img{
	width: 1.731rem;
	height: 1.154rem;
	position: absolute;
	right:1.4rem;
	top:0.577rem;
}

.state{
	margin-top: 1.308rem;
	font-size: 0;
}
.state>div{
	display: inline-block;
	width: 33.3%;
	height: 3.077rem;
	line-height: 3.077rem;
	border-top: 0.308rem solid #e9e9e9;
	font-size: 0.923rem;
	text-align: center;
}
.state>div.state_act{
	color:#a0c44e;
	border-top: 0.308rem solid #a0c44e;
}
.orderinfo{
	position: relative;
	color:#303134;
	margin-bottom: 1rem;
}
.orderinfo>.info_number{
	margin-left: 1.385rem;
	font-size: 1.154rem;
}
.orderinfo>.info_date{
	font-size: 0.923rem;
	position: absolute;
	right:1.4rem;
	top:0.24rem;
}

.fill_in{}
.fill_in>div{
	background-color: #e9e9e9;
	padding-top: 1.154rem;	
	margin-bottom: 1.385rem;
}
.fill_in>div>h5{
	font-weight: normal;
	padding-left:1.385rem;
	padding-bottom: 1rem;
	color: #727272;
	font-size: 1.154rem;
	position: relative;
}
.fill_in>div>h5:before{
	content: "";
	width: 0;
	height: 0;
	border-left: 0.615rem solid #e36655;
	border-bottom: 0.615rem solid transparent;
	border-top:0.615rem solid transparent;
	position: absolute;
	left: 0;	
}
.fill_in>div>div{
	padding-left:1.385rem;
	padding-bottom: 1.154rem;
}
.fill_in>div>div>input[type=radio]{
	width:1.385rem;
	height: 1.385rem;
	border-radius: 50%;
	vertical-align:middle;
	position: relative;
}
.fill_in>div>div>input.input_act:before{
	content: "";
	width:1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	background-color:#abcf58;
	position: absolute;
	top:-0.1rem;
	left:-0.1rem;
}
.fill_in>div>div>span.radiodescribe{
	color:#303134;
	font-size: 1.231rem;
	margin-left: 1rem;
	margin-right: 1.385rem;
	vertical-align:middle;
}

.fill_in .hl{
	color: #e36655;
}

.fill_in>div>div>.rejectmoney{
	/*width: 7.538rem;*/
	width: 6.4639rem;
	height: 2.231rem;
	border:0.0769rem solid #c5c5c5;
	padding-left: 1.0741rem;
	margin-right: 1.385rem;
	font-size: 1.154rem;
}
.fill_in>div>div>span.yuan{
	font-size: 1.154rem;
	color: #303134;
	margin-right:1.231rem;
}
.fill_in>div>div>span.textdescribe{
	font-size: 1rem;
	color: #727272;
}
.fill_in>div>div>select{
	/*width: 26.154rem;*/
	width:90.667%;
	height: 3.077rem;
	background-color: #f7f7f7;
	border: none;
	padding-left: 1.154rem;
	color: #727272;
	font-size: 1.154rem;
}
.fill_in>div>div>input.logistics_number{
	display: block;
	margin-top: 0.769rem;
	padding-left: 1.154rem;
	color: #727272;
	font-size: 1.154rem;
	/*width: 25rem;*/
	width:86%;
	height: 3.077rem;
	line-height: 3.077rem;
	border:0.077rem solid #c5c5c5;
}
/*placeholder*/
input:-moz-placeholder { color:#727272;}
::-webkit-input-placeholder { color:#727272;}

.fill_in>div>div>textarea{
	/*width: 26.154rem;*/
	/*width:25rem;*/
	width:86%;
	height: 5.538rem;
	padding-left: 1.154rem;
	margin-top: 0.769rem;
	font-size: 1.154rem;
	border: 0.077rem solid #c5c5c5;
}
.fill_in>div>h5 input{
	display: none;
}
.fill_in>div>h5 button{
	color: #ffffff;
	font-size: 1rem;
	background-color: #e36655;
	width: 5.692rem;
	height: 1.846rem;
	border-radius: 0.923rem;
}
.fill_in>div>div>div.place_picture{
	width:15.385rem;
	height: 10rem;
	/*margin-left: 1.385rem;
	margin-bottom: 1.154rem;*/
	background-color: #ffffff;
	text-align: center;
}

.fill_in>div>div>div.place_picture img{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	display: inline-block;
}

.fill_in>button{
	font-size: 1.231rem;
	color: #ffffff;
	background-color: #e36655;
	display:block;
	height: 3.615rem;
	/*width: 26.154rem;*/
	width: 90.667%;
	margin: 1.231rem auto;
}
